*,
*::after,
*::before {
  padding: 0px 5px;
  margin: 0px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  width: 100%;
  height: 200vh;
  background-color: #0a0c10;
}

img,
svg {
  padding: 0px 0px 0px;
  display: block;
  width: 120%;
}

a {
  text-decoration: none;
  color: #f4f7f8;
}

p {
  font-size: 1rem;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.search{
    position: 1rem;
    background-color: transparent;
    border: 2px solid var(#b5b6b8);
    padding:0.2rem 6rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(#b5b6b8);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(101.47deg, #0a0c10de 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #0a0c10e0 73.17%);
}

.container {
  margin: -10px 116px 39px 71px;
}

.text-carousel {
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
}

.carousel {
  height: 250px;
  width: 37%;
  position: relative;
}

.carousel .switchLeft,
.carousel .switchRight {
  color: #eee;
  font-weight: bold;
  height: 100%;
  width: 47px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: #0e0e42ee;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.carousel .switchLeft {
  position: absolute;
  left: -47px;
}

.carousel .switchRight {
  position: absolute;
  right: -65px;
} 

.carouselbox {
  height: 250px;
  width: 2800px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.carouselbox img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carouselbox img:hover {
  transform: scale(1.4);
  z-index: 5;
}

.text-carousela {
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
}

.carousel-a {
  height: 250px;
  width: 37%;
  position: relative;
}

.carousel-a .aswitchLeft,
.carousel-a .aswitchRight {
  color: #eee;
  font-weight: bold;
  height: 100%;
  width: 47px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: #0e0e42e8;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.carousel-a .aswitchLeft {
  position: absolute;
  left: -47px;
}

.carousel-a .aswitchRight {
  position: absolute;
  right: -65px;
} 

.a-carouselbox {
  height: 250px;
  width: 2800px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.a-carouselbox img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.a-carouselbox img:hover {
  transform: scale(1.4);
  z-index: 5;
}

.text-carouselb {
  font-family: "Mukta", sans-serif;
  text-transform: uppercase;
}

.carousel-b {
  height: 250px;
  width: 37%;
  position: relative;
}

.carousel-b .bswitchLeft,
.carousel-b .bswitchRight {
  color: #eee;
  font-weight: bold;
  height: 100%;
  width: 47px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: #0e0e42e8;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.carousel-b .bswitchLeft {
  position: absolute;
  left: -47px;
}

.carousel-b .bswitchRight {
  position: absolute;
  right: -65px;
} 

.b-carouselbox {
  height: 250px;
  width: 2800px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.b-carouselbox img {
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.b-carouselbox img:hover {
  transform: scale(1.4);
  z-index: 5;
}

header {
  width: 100%;
  padding-top: 1rem;
}

.navbar {
  max-width: 1440px;
  margin: -1rem;
  padding: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 47px 62px 1px 311px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-menu .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 16px;
}

.navbar .nav-menu .nav-list .nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 0px;
  position: relative;
  color: #b5b6b8;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.navbar .nav-menu .nav-list .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: -40px;
  width: 10px;
  height: 0px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#3012b6));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #3012b6 100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.navbar .nav-menu .nav-list .nav-link:hover::after {
  height: 40px;
}

.navbar .nav-menu .nav-list .nav-link:hover {
  color: #f4f7f8;
}

.search::placeholder{
    color: #87889b;
}

@-webkit-keyframes modal {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 960px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#footer {
  background: rgba(34, 34, 34, 0.178);
  color: rgba(238, 238, 238, 0.842);
  padding: 30px;
  text-align: center;
}
